{{!-- <div style="margin-top: 30px;" class="col-md-4 offset-md-4">
    <form action="" method="POST">
   <div class="form-group">
    <label>Name:</label>
    <input type="text" id="" name="name" placeholder="input your name" class="form-control">
    </div>
      <div class="form-group">
    <label>Adress:</label>
    <input type="text" id="" name="adress" placeholder="input your adress" class="form-control">
    </div>
      <div class="form-group">
    <label>Credit Card Name:</label>
    <input type="text" id="" name="creditcardname" placeholder="input your cerdit card name" class="form-control">
    </div>
      <div class="form-group">
    <label>Credit Card Number:</label>
    <input type="number" id="" name="creditcardnumber" placeholder="input your credit card number" class="form-control">
    </div>
    <div style="display: flex;" style="flex-wrap: nowrap;" style="flex-direction: column;" ></div>
    <div class="form-group">
    <label>Experetion Month Credit Card:</label>
    <input type="number" id="" name="expertionmonth" placeholder="input your experetion month credit card " class="form-control">
    </div>
    <div class="form-group">
    <label>Experetion Year Credit Card:</label>
    <input type="number" id="" name="expertionyear" placeholder="input your experetion year credit card " class="form-control">
    </div></div>
    <div class="form-group">
    <label>CVC Credit Card:</label>
    <input type="number" id="" name="cvccard" placeholder="input your cvc credit card " class="form-control">
    </div>
    <button type="submit" class="btn-succes">checkout ${{totalprice}}</button>
</form>
<script src="https://js.stripe.com/v3/"></script>
<div id="payment-request-button">
  <!-- A Stripe Element will be inserted here. -->
</div>
<script src="/javascripts/client.js"></script> --}}
<html> 
<title>Stripe Payment </title> 
<body> 
    <h3>Welcome to Payment Gateway</h3> 
    <form action="payment" method="POST"> 
     <label>name</label> <input type="text" name="name">
          <label>adress</label> <input type="text" name="address">
                    <label>email</label> <input type="text" name="email">
 <div>test cart 
 
 cart number 4242424242424242
expiration date 09/2024
ccv 268</div>

    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="{{key}}"
        data-amount={{totalprice}}*100 
        data-currency="usd" 
        data-name="" 
        data-description=""      
        data-locale="auto" > 
        </script> 
    </form> 
</body> 
</html>
